@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;700&family=PT+Sans&display=swap');
@keyframes bounce{
    0%{transform:translayey(0px);}
    20%{transform:translayey(0px);}
    30%{transform:translayey(2px);}
    40%{transform:translayey(0px);}
    70%{transform:translayey(0px);}
    80%{transform:translayey(2px);}
    90%{transform:translayey(0px);}
    100%{transform:translayey(0px);}
}
body{
    min-height:100vh;
    margin:unset;
    background-color:#111111;
    background-image:url(background.png);
    background-size:contain;
    background-position:left;
    background-repeat:no-repeat;
    font-family: 'PT Sans', sans-serif;
    background-blend-mode:color-dodge;
    color:#aaaaaa;
    font-size:1.2rem;
}
form{
    max-width:250px;
    display:flex;flex-flow:column;
    font-family: 'PT Sans', sans-serif;
}
.form,input{
    font-family: 'PT Sans', sans-serif;
    margin-bottom:1rem;
    padding:4px;
    border-radius:2px;
    border:1px solid black;
    background-color:#4445;}
    .form,input:focus{    
        box-shadow:0px 2px black;
    }
.form,label{
    font-family: 'PT Sans', sans-serif;
    margin-bottom:1rem;}
.form,button{
    padding:4px;
    border-radius:2px;
    font-size:1.2rem;
    font-weight:light;
    letter-spacing:2px;
    text-transform: uppercase;
    border:1px solid black;
    background-color:#4445;
    text-shadow:1px 1px 5px rgba(0,0,0,0.2);
    font-family: 'PT Sans', sans-serif;
}
.form,textarea{
    padding:4px;
    border-radius:2px;
    font-size:1.2rem;
    font-weight:light;
    letter-spacing:2px;
    text-transform: uppercase;
    border:1px solid black;
    background-color:#4445;}
.form,button:hover{background-color:black;color:#eee5;}
.form,label{display:flex;flex-flow:column;}
header{
    display:flex;
    flex-flow:row;
    justify-content:center;
    padding:2rem;}
.wrapper{
    display:flex;
    flex-flow:column;
    padding:2rem;
    margin:auto;
    width:100%;
    max-width:1200px;
    }
.header-row{
    max-width:1200px;
    width:100%;margin:auto 2rem;
    display:flex;
    flex-flow:row;
    justify-content:space-between;}
    h1, h2, h3{    
        font-family: 'Oswald', sans-serif;}

.menuitem:nth-child(1){
    margin-right:unset;}
.menuitem{
        margin-left:1rem;
        color:red;
        text-shadow: 2px 2px 5px black;
        font-family: 'Oswald', sans-serif;
        font-size:2rem;
}
.menuitem:hover{
        color:#aaaaaa;}
a{
        color:inherit;
        text-decoration:unset;}
        .menu-row{display:flex;flex-flow:row;}
.menu{display:flex;flex-flow:column;justify-content:center;}

.logo-img {height:64px;}

.logo-img:hover{animation:bounce 1s linear 1;opacity:0.8;}


@media screen and (max-width:100vh) {
    body{background-size:cover;}
}
